<button onclick="switchView('web')"><span class="material-symbols-outlined">web</span> Webansicht</button>
<button onclick="switchView('print')">Printansicht</button>
<button onclick="switchView()">Default </button>