{% set hasMeta = false %}

{% if tags and tags | length > 0 %}
{% set hasMeta = true %}
{% endif %}

{% set backlinks = [] %}
{% if collections.backlinksMap and page.url %}
{% set backlinks = collections.backlinksMap[page.url] %}
{% endif %}
{% if backlinks and backlinks | length > 0 %}
{% set hasMeta = true %}
{% endif %}

{% if hasMeta %}
<div class="content-meta">

    <div id="url">
        <span>The URL</span>
        <div class="meta-content-wrapper">
            <p>{{page.url}}</p>
        </div>
    </div>

    {% if tags and tags | length > 0 %}
    <div class="content-tags">
        <span>Tagged with</span>

        <div class="meta-content-wrapper">
            {% for tag in tags %}
            <div class="content-tag" onclick="openTagModule('{{ tag }}')">
                {# <svg>
                    <rect width="100%" height="100%" />
                </svg> #}

                <p>{{ tag | replace("-", " ") }}</p>
                {% icon "ibm--webmethods-integration-server" %}

            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if backlinks and backlinks | length > 0 %}
    <div class="content-backlinks">
        <span>Mentioned in</span>

        <div class="meta-content-wrapper">
            {% for bl in backlinks %}


            <a href="{{ bl.url }}">{{ bl.title }}</a>

            {% endfor %}
        </div>

    </div>
    {% endif %}

</div>
{% endif %}