{% set hasMeta = false %}

{% if tags and tags | length > 0 %}
{% set hasMeta = true %}
{% endif %}

{% set backlinks = [] %}
{% if collections.backlinksMap and page.url %}
{% set backlinks = collections.backlinksMap[page.url] %}
{% endif %}
{% if backlinks and backlinks | length > 0 %}
{% set hasMeta = true %}
{% endif %}

{% if hasMeta %}
<div class="content-meta">

    <div id="url">
        <span>Page</span>
        <div class="meta-content-wrapper">
            <p>{{ page.url | replace("/", "") }}</p>
        </div>
    </div>

    {% if tags and tags | length > 0 %}
    <div class="content-tags">
        <span>Listed In</span>

        <div class="meta-content-wrapper">
            {%- for tag in tags -%}
            <div class="content-tag" onclick="openTagModule('{{ tag }}')" title="Open in Sidebar">
                <p>{{ tag | replace("-", " ") }}</p>{% icon "list--bulleted" %}</div>
                {%- endfor -%}
            </div>
        </div>
        {% endif %}

        {% if backlinks and backlinks | length > 0 %}
        <div class="content-backlinks">
            <span>Mentioned In</span>

            <div class="meta-content-wrapper">
                {%- for bl in backlinks -%}
                <div class="content-tag" onclick="window.location.href='{{ bl.url }}'" title="Go to Page">
                    <p><a href="{{ bl.url }}" style="text-decoration: none; color: inherit;">{{ bl.title }}</a></p>
                    {% if bl.tags and "moc" in bl.tags %}
                        {% icon "list--numbered" %}
                    {% endif %}
                </div>
                {%- endfor -%}
            </div>

        </div>
        {% endif %}

    </div>
    {% endif %}