<ul id="sidebarContent">

    <div class="sidebar-group moc-sidebar-container" id="sidebar-default">

    <h1>Ordered Content</h1>
    <ol>
        <li>
            <ol>
                {% for moc in collections.moc %}
                    <li>
                        <a data-moc-btn-url="{{ moc.url }}" onclick="switchMoc('{{ moc.url }}')">
                            <p>{{ moc.data.title | safe }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </li>
    </ol>



    </div>

    {% for moc in collections.moc %}
        <div class="sidebar-group moc-sidebar-container" data-moc-url="{{ moc.url }}" style="display: none;">
            {{ moc.templateContent | mocSidebar(collections.all) | safe }}
            
            <div id="mocControls">
                <a onclick="navigateMoc(-1)" title="Previous in MOC">Last Note</a>
                <a onclick="navigateMoc(1)" title="Next in MOC">Next Note</a>
            </div>

        </div>
        
    {% endfor %}


</ul>
