<ul id="orderedContent">

    <div class="sidebar-group moc-sidebar-container" id="sidebar-default">

    <h1>Ordered Lists</h1>
    <ol>
        <li>
            <ol>
                {% for moc in collections.moc %}
                    <li>
                        <a data-moc-btn-url="{{ moc.url }}" onclick="switchMoc('{{ moc.url }}')">
                            <p>{{ moc.data.title | safe }}</p>
                        </a>
                    </li>
                {% endfor %}
                <li>
                    <a data-moc-btn-url="/all-notes/" onclick="switchMoc('/all-notes/')">
                        <p>All Notes</p>
                    </a>
                </li>
            </ol>
        </li>
    </ol>



    </div>

    {% for moc in collections.moc %}
        <div class="sidebar-group moc-sidebar-container" data-moc-url="{{ moc.url }}" style="display: none;">
            {{ moc.templateContent | mocSidebar(collections.all) | safe }}
            
            <div id="mocControls">
                <a onclick="navigateMoc(-1)" title="Previous in MOC">{% icon "arrow-up" %} Last Note</a>
                <a onclick="navigateMoc(1)" title="Next in MOC">{% icon "arrow-down" %} Next Note</a>
            </div>

        </div>
        
    {% endfor %}

    <div class="sidebar-group moc-sidebar-container" data-moc-url="/all-notes/" style="display: none;">
        <h1>All Notes</h1>
        <ol>
            <li>
                <ol>
                    {% set allNotesList %}
                        {% for post in collections.posts %}
                            <li><a href="{{ post.url }}">{{ post.data.title | default(post.fileSlug) }}</a></li>
                        {% endfor %}
                    {% endset %}
                    {{ allNotesList | mocSidebar(collections.all) | safe }}
                </ol>
            </li>
        </ol>
        
        <div id="mocControls">
            <a onclick="navigateMoc(-1)" title="Previous in MOC">{% icon "arrow-up" %} Last Note</a>
            <a onclick="navigateMoc(1)" title="Next in MOC">{% icon "arrow-down" %} Next Note</a>
        </div>
    </div>

</ul>

<div class="module" id="searchContent">
</div>

<div class="module" id="tagsContent">
    <div class="tag-sidebar-group moc-sidebar-container" id="tags-default">
        <h1>All Tags</h1>
        <ol>
            <li>
                <ol>
                    {% for item in collections | sortTagsByCount %}
                        {% set tag = item.tag %}
                        {% set posts = item.posts %}
                            <li>
                                <a data-tag-btn-name="{{ tag }}" onclick="switchTag('{{ tag }}')">
                                    <div class="tag">
                                        <span class="tag-count">{{ posts.length }}</span>
                                        <p>{{ tag | cleanTags}}</p>
                                    </div>
                                </a>
                            </li>
                    {% endfor %}
                </ol>
            </li>
        </ol>
    </div>

    {% for item in collections | sortTagsByCount %}
        {% set tag = item.tag %}
        {% set posts = item.posts %}
            <div class="tag-sidebar-group moc-sidebar-container" data-tag-name="{{ tag }}" style="display: none;">
                <h1 onclick="switchTag('')" style="cursor: pointer;" title="Back to Tags"> {{ tag | cleanTags}}</h1>
                <ol>
                    <li>
                        <ol>
                            {% set tagNotesList %}
                                {% for post in posts %}
                                    <li>
                                        <a href="{{ post.url }}">{{ post.data.title | default(post.fileSlug) }}</a>
                                    </li>
                                {% endfor %}
                            {% endset %}
                            {{ tagNotesList | mocSidebar(collections.all) | safe }}
                        </ol>
                    </li>
                </ol>
            </div>
        
    {% endfor %}
</div>
