<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=web" />
    <link rel="stylesheet" href="/styles/variables.css">
    <link rel="stylesheet" href="/styles/base.css" data-pagedjs-ignore>
    {#
    <link rel="stylesheet" href="/styles/config.css" data-pagedjs-ignore> #}
    <link rel="stylesheet" href="/styles/viewMode.css" data-pagedjs-ignore>
    <link rel="stylesheet" href="/styles/sidebar.css" data-pagedjs-ignore>
    <link rel="stylesheet" href="/styles/print.css" data-pagedjs-ignore>

    {% block head %}{% endblock %}

    <title> Exploring Creative Technologies</title>
</head>

<body>

    <div id="mainContainer">


        <aside id="leftModuleBar">
            <a class="moduleName active" id="btnToggleOrdered">Ordered Lists</a>
            <a class="moduleName" id="btnToggleTags">Tags</a>
            <a class="moduleName" id="btnToggleSearch">Search</a>
        </aside>

        <aside id="sidebar">

            {% include "partials/sidebar.njk" %}
        </aside>

        {% set metaHtml %}
            {% include "partials/metaData.njk" %}
        {% endset %}

        <template id="templateSource">
            {{ content | ensureH1 | injectAfterH1(metaHtml) | contentContainer | linkClass | addHeadingIds | safe }}
        </template>

        <template id="templateContent">
            {{ content | ensureH1 | injectAfterH1(metaHtml) | contentContainer | linkClass | addHeadingIds | safe }}
        </template>

        <div id="midContainer">
            <article id="content">
            </article>

        </div>

        <aside id="config">

            {% include "partials/config.njk" %}
        </aside>

        <div id="viewModeContainer">
            <button class="viewModeButton" onclick="switchView('web')">
                {% icon "screen" %} Web Mode
            </button>
            <button class="viewModeButton" onclick="switchView('print')">
                {% icon "printer" %} Print Mode
            </button>
            <button class="viewModeButton" onclick="switchView('slide')">
                {% icon "presentation-file" %} Slide Mode
            </button>
        </div>

        <aside id="rightModuleBar">
            <a class="moduleName active" id="btnToggleSections">Sections</a>
            <a class="moduleName active" id="btnToggleViewModes">View Modes</a>
        </aside>
    </div>


    <script type="module">
        import { setView } from "/js/switchView.js";
        import { initMoc, initTags, initSearch, updateModules, openLists, activeLink } from "/js/sidebarUI.js";

        setView();
        initMoc();
        initTags();
        initSearch();
        updateModules();
        openLists();
        activeLink();
    </script>

</body>

</html>