<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=web" />
    <link rel="stylesheet" href="/styles/variables.css">
    <link rel="stylesheet" href="/styles/base.css" data-pagedjs-ignore>
    <link rel="stylesheet" href="/styles/viewMode.css" data-pagedjs-ignore>
    <link rel="stylesheet" href="/styles/sidebar.css" data-pagedjs-ignore>
    <link rel="stylesheet" href="/styles/print.css" data-pagedjs-ignore>

    <link rel="icon" type="image/svg+xml" href="/fonts/icons/favicon.svg">
    {% block head %}{% endblock %}

    <title> Exploring Creative Technologies</title>
</head>

<body>

    <div id="mainContainer">




        <button id="toggleSidebarButton">
            <svg class="icon-open">
                <use href="/fonts/icons/svg-sprite.svg#side-panel--open" />
            </svg>
            <svg class="icon-open-filled">
                <use href="/fonts/icons/svg-sprite.svg#side-panel--open--filled" />
            </svg>
            <svg class="icon-close">
                <use href="/fonts/icons/svg-sprite.svg#side-panel--close" />
            </svg>
            <svg class="icon-close-filled">
                <use href="/fonts/icons/svg-sprite.svg#side-panel--close--filled" />
            </svg>
        </button>

        <aside id="sidebar">

            {% include "partials/sidebar.njk" %}
        </aside>

        {% set metaHtml %}
        {% include "partials/metaData.njk" %}
        {% endset %}

        <template id="templateSource">
            {% if tags and "book" in tags %}
            {% set bookMain = content | ensureH1 | injectAfterH1(metaHtml) | contentContainer(true) | linkClass %}
            {% set chapters = bookMain | extractBookItems(collections.all) %}
            {% set fullBook = bookMain | addHeadingIds %}

            {% for chapter in chapters %}
            {% set originalPage = page %}
            {% set originalTags = tags %}

            {% set page = chapter.page %}
            {% set tags = chapter.data.tags %}

            {% set chapterMeta %}
            {% include "partials/metaData.njk" %}
            {% endset %}

            {% set page = originalPage %}
            {% set tags = originalTags %}

            {% set chapterContent = chapter.templateContent | ensureH1(chapter.fileSlug) | injectAfterH1(chapterMeta) |
            contentContainer(true) | linkClass %}
            {% set chapterContent = chapterContent | addHeadingIds(chapter.fileSlug, chapter.fileSlug) %}

            {% set fullBook = fullBook + "<article class='book-chapter'>" + chapterContent + "</article>" %}
            {% endfor %}

            {{ fullBook | appendLinkDirectory | injectToC | safe }}
            {% else %}
            {{ content | ensureH1 | injectAfterH1(metaHtml) | contentContainer | linkClass | addHeadingIds | safe }}
            {% endif %}
        </template>

        <template id="templateContent">
            {% if tags and "book" in tags %}
            {% set bookMain = content | ensureH1 | injectAfterH1(metaHtml) | contentContainer(true) | linkClass %}
            {% set chapters = bookMain | extractBookItems(collections.all) %}
            {% set fullBook = bookMain | addHeadingIds %}

            {% for chapter in chapters %}
            {% set originalPage = page %}
            {% set originalTags = tags %}

            {% set page = chapter.page %}
            {% set tags = chapter.data.tags %}

            {% set chapterMeta %}
            {% include "partials/metaData.njk" %}
            {% endset %}

            {% set page = originalPage %}
            {% set tags = originalTags %}

            {% set chapterContent = chapter.templateContent | ensureH1(chapter.fileSlug) | injectAfterH1(chapterMeta) |
            contentContainer(true) | linkClass %}
            {% set chapterContent = chapterContent | addHeadingIds(chapter.fileSlug, chapter.fileSlug) %}

            {% set fullBook = fullBook + "<article class='book-chapter'>" + chapterContent + "</article>" %}
            {% endfor %}

            {{ fullBook | appendLinkDirectory | injectToC | safe }}
            {% else %}
            {{ content | ensureH1 | injectAfterH1(metaHtml) | contentContainer | linkClass | addHeadingIds | safe }}
            {% endif %}
        </template>

        <div id="midContainer">
            <article id="content">
            </article>

        </div>



        <div id="viewModeContainer">
            <button class="viewModeButton" onclick="switchView('web')">
                {% icon "screen" %} Web Mode
            </button>
            <button class="viewModeButton" onclick="switchView('print')">
                {% icon "printer" %} Print Mode
            </button>
            <button class="viewModeButton" onclick="switchView('slide')">
                {% icon "presentation-file" %} Slide Mode
            </button>

            <div id="slideControls">
                <button class="viewModeButton" onclick="prevSlide()">
                    {% icon "chevron--up" %} Prev Slide
                </button>
                <button class="viewModeButton" onclick="nextSlide()">
                    {% icon "chevron--down" %} Next Slide
                </button>
            </div>
        </div>


    </div>


    <script type="module">
        import { setView } from "/js/switchView.js";
        import { initSearch, openLists, activeLink, initSidebarToggle } from "/js/sidebarUI.js";

        setView();
        initSearch();
        openLists();
        activeLink();
        initSidebarToggle();
    </script>

</body>

</html>