<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=web" />
    <link rel="stylesheet" href="/styles/variables.css">
    <link rel="stylesheet" href="/styles/base.css" data-pagedjs-ignore>
    <link rel="stylesheet" href="/styles/sidebar.css" data-pagedjs-ignore>
    <link rel="stylesheet" href="/styles/print.css" data-pagedjs-ignore>

    {% block head %}{% endblock %}

    <title>{{ title }}</title>
</head>

<body>

    <div id="mainContainer">

        
        {# {% for moc in collections.moc %}
        <script>
            window.sidebarContent.push("{{moc.url}}");
            console.log(window.sidebarContent)
        </script>

        {% endfor %} #}
        {# {{page.url}} #}

        <aside id="sidebar">

            {% include "partials/navbar.njk" %}

        </aside>

        <template id="templateSource">

            {{ content | safe }}
        </template>

        <template id="templateContent">
            {{ content | safe }}
        </template>

        <div id="midContainer">
            <article id="content">
            </article>

        </div>


        <aside id="config">
            {% include "partials/config.njk" %}
        </aside>

        <footer>
            <p>Max S. Rodenkirchen - CrossDocu v.1</p>
        </footer>
    </div>


    <script type="module">
        import { setView } from "/js/switchView.js";
        setView();


        function toggleSidebar() {
            const activeMocUrl = localStorage.sidebarContent;
            
            // 1. Verstecke alle Sidebar-Gruppen
            document.querySelectorAll('.sidebar-group').forEach(group => {
                group.style.display = 'none';
            });

            // 2. Zeige das aktive MOC an, falls gesetzt
            if (activeMocUrl) {
                const activeContainer = document.querySelector(`.sidebar-group[data-moc-url="${activeMocUrl}"]`);
                if (activeContainer) {
                    activeContainer.style.display = 'block';
                    return;
                }
            }

            // 3. Fallback: Zeige die Standard-Sidebar mit allen Posts
            const defaultSidebar = document.getElementById('sidebar-default');
            if (defaultSidebar) {
                defaultSidebar.style.display = 'block';
            }
        }

        window.switchMoc = function(url) {
            localStorage.sidebarContent = url;
            toggleSidebar();
        };

        toggleSidebar();

        // setInterval(()=>{
        // console.log(document.querySelector('.sidebarContent').scrollTop);

        // },1000)
    </script>


</body>

</html>