{% extends "layouts/base.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/preview.css">
{% endblock %}

{% block content %}
  <template id="content">
    {{ content | safe }}
    <p>This is the "paged.njk" Layout.</p>
  </template>

  <article id="preview"></article>

  <script type="module" src="/js/preview.js"></script>
{% endblock %}