<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/variables.css">
        <link rel="stylesheet" href="/styles/base.css" data-pagedjs-ignore>
        <link rel="stylesheet" href="/styles/print.css" data-pagedjs-ignore>
        {% block head %}{% endblock %}
        <title>{{ title }}</title>
        <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
    </head>
    <body>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>
