@media screen {

  body {
    background: var(--bgLight);
    /* padding:0 var(--gap) 0 var(--gap) ; */
    margin: 0;
    color: var(--internalInteraction);
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: repeating-linear-gradient(0deg, var(--bgLines), var(--bgLines) 1px, transparent 1px, transparent 4px);

  }

  * {
    box-sizing: border-box;
    /* border: 1px solid red; */
  }

  ::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari und Opera */
  }

  ::selection {
    background: var(--internalLink);
    color: var(--bgLight);
  }

  #mainContainer {
    display: flex;
    justify-content: center;
    gap: var(--gapSmaller);
    margin: 0;
    /* padding: 1rem; */
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  #midContainer {
    flex: 1;
    min-width: 350px;
    max-width: 1050px;
    background-clip: content-box;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg);
  }


  /* Fullscreen specific styles */
  #mainContainer:fullscreen {
    background-color: var(--color-4);
  }

  #mainContainer:fullscreen #sidebar,
  #mainContainer:fullscreen #config {
    display: none !important;
  }

  #mainContainer:fullscreen #midContainer {
    margin: 0;
    padding-top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  #content {
    margin: var(--gap) 0 !important;
  }

  .pagedjs_page {
    scroll-margin-top: var(--gap);
    border-top: var(--lineWeight) solid var(--internalInteraction);
    border-bottom: var(--lineWeight) solid var(--internalInteraction);
    margin-bottom: var(--gapSmaller);
  }



}

.content-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gapSmaller);
  padding-bottom: var(--gapSmaller);
  padding-top: var(--gapSmaller);
  /* border-bottom: var(--lineWeight) solid var(--internalLink);
    border-top: var(--lineWeight) solid var(--internalLink); */

}

.content-tag {
  display: flex;
  align-items: center;
  font: var(--font-mono-small);
  /* border-radius: 100px; */
  background-color: var(--internalLink);
  color: var(--bgLight);
  padding-right: var(--gapSmaller);
  gap: var(--gapSmallest);
  cursor: pointer;
  margin: 0;
}

.content-tag p {
  font: inherit !important;
  max-width: inherit !important;
  margin: 0 !important;
  color: inherit !important;
}

.content-tag svg {
  margin-left: .5em;
  transform: scale(-0.8);
  height: 1em;
  aspect-ratio: 1 / 1;
  fill: currentColor;
  flex-shrink: 0;
}

.content-tag:hover {
  color: var(--internalLink);
  background-color: var(--bgLight);
}

.internalLink {
  /* font-family: "Graebenbach Mono Regular", monospace; */
  text-decoration: underline dotted;
  /* border-bottom: var(--lineWeight) solid var(--internalLink); */
  padding: 0 var(--gapSmallest);
  transform: translate(0px, 2px);
  width: fit-content;
  color: var(--internalLink);
  display: inline-flex;
  flex-wrap: wrap;
  /* text-decoration: none; */
}

.internalLink:hover {
  background-color: var(--internalLink);
  color: var(--bgLight);
  text-decoration: none;
}

.externalLink {
  /* font-family: "Graebenbach Mono Regular", monospace; */
  text-decoration: underline dotted;

  /* border: var(--lineWeight) solid var(--externalLink); */
  padding: 0 var(--gapSmallest);
  transform: translate(0px, 2px);
  width: fit-content;
  color: inherit;
  display: inline-flex;
  flex-wrap: wrap;
  /* text-decoration: none; */
}

.externalLink:hover {
  background-color: var(--externalLink);
  color: var(--bgLight);
  text-decoration: none;
}

#leftModuleBar,
#rightModuleBar {
  flex-shrink: 0;
  height: 100%;
  width: 50px;
  background-color: var(--bg);
  color: var(--internalLink);
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}



.moduleName {
  font-family: "Favorite Lining Regular";
  font-size: 30px;

  writing-mode: vertical-rl;

  width: 100%;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


#leftModuleBar .moduleName {
  transform: rotate(180deg);
}

.moduleName:hover,
.moduleName.active,
.moduleName.hover-sync {
  background-color: var(--internalLink);
  color: var(--bgLight);
}

/* Carbon Icons Configuration */
.i {
  width: var(--i-size, 16px);
  height: var(--i-size, 16px);
  fill: currentColor;
  flex-shrink: 0;
}