@media screen {
  #config {
    color: var(--internalinteraction);
    background: var(--bg);
    transition: all .1s ease;
    width: 350px;
    flex-shrink: 0;

    font: var(--font-mono-small);
    overflow: auto;
    scrollbar-width: none;

    /* display: flex; */
    display: none;
    flex-direction: column;
    height: 100%;
  }


  #config h1 {
    font-family: Favorite Lining Regular, sans-serif;
    font-size: 26pt;
    line-height: 120%;
    margin: 0;
    padding-left: var(--gapSmall);
    padding-top: var(--gapSmaller);
    padding-bottom: var(--gapSmaller);
  }

  #sections {
    background-color: var(--bgLight);
    margin-top: var(--gap);
    margin-bottom: var(--gap);
    padding-bottom: var(--gapSmallest);
    border-top: var(--lineWeight) solid var(--internalInteraction);
    border-bottom: var(--lineWeight) solid var(--internalInteraction);
  }

  #sections ol,
  #sections li {
    /* line-height: 160%; */
    margin: var(--gapSmaller) 0;
  }

  #sections ol {
    list-style-type: none;
    counter-reset: section;
    padding-left: var(--gapSmall);
    padding-right: var(--gapSmall);

  }

  #sections ol ol {
    padding-left: var(--gapSmaller);
  }

  #sections li {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: start;
    padding: 0;
    padding-left: var(--gapSmallest);
    border-bottom: var(--lineWeight) dashed var(--bgLines);
    border-left: var(--lineWeight) dashed var(--bgLines);
  }

  #sections li>ol {
    grid-column: 1 / -1;

  }

  #sections li::before {
    counter-increment: section;
    content: counters(section, ".") " ";
    opacity: .5;
    font-size: 12px;
    margin-right: var(--gapSmall);

  }

  #sections a {
    color: inherit;
    text-decoration: none;
  }

  #sections a:hover,
  #sections li:has(> a:hover)::before,
  #sections a.activeSection,
  #sections li:has(> a.activeSection)::before {
    font-family: "Graebenbach Bold", sans-serif;
  }

  #slideControls {
    width: 100%;
    margin: var(--gapSmall) 0 0 0;
    padding-top: var(--gapSmallest);
    border-top: var(--lineWeight) solid var(--internalInteraction);
    flex-wrap: wrap;
  }

  .sectionButton {
    display: flex;
    align-items: center;
    gap: var(--gapSmaller);
    background-color: var(--bgLight);
    border: none;
    padding: 0 var(--gapSmall);
    margin: var(--gapSmallest) 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    appearance: none;
    text-align: left;
    white-space: nowrap;
  }

  .sectionButton:hover {
    background-color: var(--internalLink);
    color: var(--bgLight)
  }

}