@media screen {
  #config {
    position: absolute;
    right: 0;
    bottom: 0;
    /* display: flex; */
    /* flex-direction: column; */
    margin-right: 2rem;
    margin-top: 4rem;
    /* width: 50px; */
    color: var(--color-white);
    background: var(--color-white);
    /* border: 1px solid red; */
    padding: .5rem;
    /* z-index: 1000; */
    /* display: none; */
    filter: opacity(.2);
    transition: all .1s ease;

  }

  #config:hover {
    filter: opacity(1);
  }

  .viewModeButton {
    /* border-radius: 100%; */
    border: none;
    /* position: absolute;
        right: 0; */

    padding: 0;
    /* margin: 0 auto; */
    background: none;
    overflow: auto;
    width: max-content;
    stroke: var(--color-white);
  }

  .button-svg {
    fill: var(--color-white);
    stroke: var(--color-4);
    stroke-width: 8px;
    height: 28px;
    border-radius: 0.5rem;
        filter: opacity(.4);
            transition: all .1s ease;


  }

  .button-svg:hover {
    /* fill: var(--color-black);
    stroke: var(--color-black); */
    filter: opacity(1);
    cursor: pointer;
  }

  #mainContainer:fullscreen #config {
    display: none !important;
  }
}