@media screen {
  #config {
    color: var(--internalinteraction);
    background: var(--bg);
    padding: .5rem;
    transition: all .1s ease;
    width: 350px;
    max-width: 350px;
  }

  #config:hover {
    filter: opacity(1);
  }

  .viewModeButton {
    /* border-radius: 100%; */
    border: none;
    /* position: absolute;
        right: 0; */

    padding: 0;
    /* margin: 0 auto; */
    background: none;
    overflow: auto;
    width: max-content;
    stroke: var(--color-white);
  }

  .button-svg {
    fill: var(--color-white);
    stroke: var(--color-4);
    stroke-width: 8px;
    height: 28px;
    border-radius: 0.5rem;
        filter: opacity(.4);
            transition: all .1s ease;


  }

  .button-svg:hover {
    /* fill: var(--color-black);
    stroke: var(--color-black); */
    filter: opacity(1);
    cursor: pointer;
  }

  #mainContainer:fullscreen #config {
    display: none !important;
  }
}