@media screen {
  #sidebar {
    overflow: hidden !important;
    width:350px;
    max-width: 350px;
    font-family: "Graebenbach Regular", sans-serif;
    background-color: var(--bg);
  }

  #sidebar p a {
    font-size: 6pt;
  }

  /* Internal Links */
  #sidebar a > p{
    border: 1px solid var(--internalLink);
    padding: var(--gapSmallest) ;
  } 

 #sidebar a:hover > p,
 .active > p{
    background: var(--internalLink);
    color: var(--bgLight);
  } 



  #sidebarContent {
    gap: 0.5rem;
    padding: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    margin: 0;
    scrollbar-width: none;
    height: 100%;
  }

  #sidebarContent li a img {
    display: none;
  }

  .moc-sidebar-container {
    margin-top: var(--gap);
    background-color: var(--bgLight);
    overflow-wrap: break-word;
    overflow: scroll;
    border-top: var(--lineWeight) solid var(--internalLink);
    border-bottom: var(--lineWeight) solid var(--internalLink);
  }

  .moc-sidebar-container * {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: var(--internalLink);
  }

  .moc-sidebar-container > h1 {
    font-size: 32pt;
    background-color: var(--internalLink);
    color: var(--bgLight) !important;
    margin: 0;
    padding-left: var(--gapSmall);
  }

  .moc-sidebar-container > ol {
    padding: var(--gapSmall);
  }

  .moc-sidebar-container > ol > li{
    margin-bottom: var(--gapSmall);
  } 


  .moc-sidebar-container > ol > li > p {
    margin-bottom: var(--gapSmaller);
    border-bottom: var(--lineWeight) solid var(--internalLink);

  } 

  .moc-sidebar-container > ol > li > ol{
    display: flex;
    flex-direction: column;
    gap:var(--gapSmaller);
  } 

  .moc-sidebar-container > ol > li > ol > li{
    
  } 


}