@media screen {
  #sidebar {
    overflow-y: auto;
    width: 350px;
    flex-shrink: 0;
    font-family: "Ease Standard Regular", sans-serif;
    background-color: var(--bg);
    scrollbar-width: none;
    color: var(--internalInteraction);
  }

  #ect {
    padding: 0;
    overflow-x: visible;
    text-align: left;
  }

  #ect-title {
    display: flex;
    align-items: center;
    padding-left: var(--gapSmall);
    padding-right: var(--gapSmall);
    padding-top: var(--gapSmall);
    padding-bottom: var(--gapSmall);
    background-color: var(--bgLight);
    border-bottom: var(--lineWeight) dashed var(--internalInteraction);

  }

  #ect-title h1 {
    font-family: "Ease Display Regular", sans-serif;
    font-size: 34px;
    line-height: 100%;
    margin: 0;
  }

  .aList {
    background-color: var(--bg);
    list-style: none;
    border-bottom: var(--lineWeight) dashed var(--internalInteraction);
    transition: all 2ms;
  }


  .aListTitle h3 {
    font-family: "Ease Display Regular", sans-serif;
    font-size: 20px;
    margin: 0;
    font-weight: 300;

  }

  .aList:hover,
  .aList.active {
    background-color: var(--bgLight);
    color: var(--internalInteraction) !important;
  }

  .aList.hide {
    color: var(--silver);
  }

  /* .aList.containsActive .aListTitle {
    color: var(--internalLink) !important;
  } */

  .aList.active {
    /* margin-top: var(--gapSmaller);
    margin-bottom: var(--gapSmaller); */
    /* border-bottom: var(--lineWeight) solid var(--internalInteraction);
      border-top: var(--lineWeight) solid var(--internalInteraction); */
  }

  .aList.active .aListTitle {
    border-bottom: var(--lineWeight) solid var(--internalInteraction);
    /* color: var(--internalLink); */

  }


  .allLists,
  .listOfContent {
    padding: 0;
    margin: 0;
  }

  .aListTitle {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    padding: var(--gapSmaller) var(--gapSmaller);
    width: 100%;
    cursor: pointer;
    gap: var(--gapSmaller);
  }

  #searchInput {
    display: none;
    border: none;
    background: var(--bg);
    /* border: var(--lineWeight) dashed var(--internalInteraction); */
    color: var(--internalInteraction);
    font-family: inherit;
    font-size: 20px;
    /* matches h3 */
    outline: none;
    width: 100%;
    margin-right: var(--gap);
  }

  #search.active h3 {
    display: none;
  }

  #search.active #searchInput {
    display: block;
  }

  #search:not(.active) .aListTitle,
  #search:not(.active) .aListTitle * {
    cursor: text !important;
  }

  .aListTitle>div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: var(--gapSmaller);
    /* padding: var(--gapSmaller) var(--gapSmaller); */
    cursor: pointer;
    /* border: 1px solid red; */
  }

  .aList.active .aListTitle svg.i-chevron--right {
    transform: rotate(90deg);
  }

  .allLists hr {
    border: none;
  }

  .gap {
    border: none;
    margin: 0;
    height: var(--gapSmall);
    background-color: var(--bg);
    /* opacity: .4; */
    border-bottom: var(--lineWeight) dashed var(--internalInteraction) !important;
    /* margin-top: var(--gapSmaller); */
    /* padding: 20px 0;
    height: 200px; */
    /* padding: var(--gapSmaller) var(--gap) var(--gapSmaller) 45px; */
    /* text-align: center; */
    font-size: 16px;
    font-weight: 100;
    color: var(--silver);
  }

  #gapBottom {
    height: 100vh;
  }




  /*2. EBENE */

  .listOfContent {
    list-style: none;
    margin-left: var(--gapSmaller);
    /* margin: 0 var(--gapSmaller); */
    margin-bottom: var(--gapSmallest);
  }

  .contentLink,
  .listSection {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: var(--gapSmaller);
    padding-left: var(--gapSmaller);
    padding-right: var(--gapSmaller);
    margin: 0;
    border-bottom: var(--lineWeight) dashed var(--internalInteraction);
    border-left: var(--lineWeight) dashed var(--internalInteraction);
  }

  .listSection {
    font-size: 12px;
    padding: var(--gapSmaller) var(--gapSmaller);
    color: var(--silver);
  }

  .contentLink {
    /* color: var(--internalLink); */
    /* text-decoration: var(--bgLines) dashed underline .04px !important; */
    /* text-decoration-thickness: ; */
    transition: margin 2ms;
  }

  .contentLink svg {
    margin-top: 3px;
    flex-shrink: 0;
  }

  .contentLink a {
    text-decoration: none;
    color: inherit;
    /* border: 1px solid red; */
    width: 100%;
    padding: var(--gapSmaller) 0;
  }

  .contentLink:hover,
  .contentLink.active {
    /* margin-bottom: var(--gapSmaller); */
    /* font-family: "Ease Standard Medium", sans-serif; */
    color: var(--lobster-pink);

  }



}