#content {
  width: 100%;
  max-width: 1000px;
  margin: var(--gapSmaller);
  font-size: var(--regular);
}

.contentContainer {
  /* border-top: var(--lineWeight) dashed var(--internalInteraction);
  border-bottom: var(--lineWeight) dashed var(--internalInteraction); */
  padding: var(--gapSmaller) var(--gapSmall);
  margin: var(--gapSmaller) 0;
  background: var(--bgLight);
}

#content h1 {
  font-size: var(--largest);
}

#content h2 {
  font-size: 60px;
}

#content h3 {
  font-size: 40px;
}

#content h4 {
  font-size: 20px;
}


#content img,
iframe {
  display: block;
  /* margin-left: calc(-1*var(--gapSmall));
  width: calc(100% + var(--gapSmall)*2); */
  max-height: 800px;
  object-fit: contain;
  max-width: 100%;

}

#content iframe {
  aspect-ratio: 16 / 9;
  border: 0;
}