#content {
  background: var(--color-white);
  border-radius: .5rem;
  padding: 2rem;

}


#content img {
  display: block;
  width: calc(100% + 4rem);
  margin: 1rem -2rem;
  max-width: none;
  /* max-height: 60vh; */
  /* object-fit: contain; */
}

/* Pull the first image to the very top of the container */
#content > img:first-child,
#content > p:first-child img:first-child,
#content > a:first-child img:first-child {
  margin-top: -2rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

#content > p:first-child:has(img:first-child),
#content > a:first-child:has(img:first-child) {
  margin-top: 0;
}